# Excercises for Lecture 2 - Spring 2025

Your Name:      Nathan Wallace

Your UID:       U1186463

Your E-Mail:    u1186463@utah.edu

## Exercise 1: Data types and operations
Play around with data types and operations. Try the following things:

1. Define two variables and assign an integer to the first and a float to the second. 
2. Define a third variable and assign the sum of the previous two variables. What's the data type of the third variable?
2. Reassign one of your existing variables a value of a different type, e.g., take one of your numerical variables and assign a string to it. What's the new data type?
3. What happens if you try to add a string to a string?
4. What happens if you add a string to a float or an integer?

In [1]:
# your code
x = 5
y = 3.14
z = x + y

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'float'>

In [2]:
x = "letters & "
print(type(x))
y = "more letters"
z = x + y
print(z)
a = 4
# z = x + a
# adding a string to a float or an integer gives a TypeError

<class 'str'>
letters & more letters

## Exercise 2: Running Programs

 * Create a new file python file and use the `double_number` function as a template. Modify the code to add two numbers instead of doubling a single number.
 * Can you guess what would happen if you change the indentation? Try it out.
 * Try what happens if you print `a` at the very end of the program. Can you explain what's going on?
 
If you want to submit this activity, paste the content of your python file here:

In [3]:
# my code
def add_numbers(n,m):
    return n + m

# Example usage
result = add_numbers(5,4)
print(result)  # Output: 9
# changing the indentation causes the function to output an error
# print(n)
# trying to print a local variable outside of its scope outputs an error because it doesn't exist outside of the function

9

## Exercise 3: Creating Cells, Executing Code

1. Create a new code cell below where you define variables containing your name, your age in years, and your major.
2. Create another cell that uses these variables and prints a concatenated string stating your name, major, and your age in years, months, and days (assuming today is your birthday). The output should look like that:

```
Name: Science Cat, Major: Computer Science, Age: 94 years, or 1128 months, or 34310 days. 
```

## Exercise 4: Functions
Write a function that 
 * takes two numerical variables
 * multiplies them with each other
 * divides them by a numerical variable defined in the scope outside the function
 * and returns the result. 
 
Print the result of the function for three different sets of input variables.

In [4]:
name = "Nathan"
age = 23
major = "Biomedical Engineering"

In [5]:
print("Name: " + name +  ", Major: " + 
       major + ", Age: " + str(age) +
       " years, or " + str(age*12) + " months, or "
       + str(age*365) + " days.")

Name: Nathan, Major: Biomedical Engineering, Age: 23 years, or 276 months, or 8395 days.