# Lecture 5: Activities

## Activity 1: Set Intersection

Write a function that finds the intersection of an arbitrary number of sets and prints them.
Initialize two sets, e.g., with values {11, 42, 16, 22, 19} and {16, 4, 8, 11, 42} and {17, 6, 11, 16, 7, 12} and call this function with them.

You can assume the function will be passed at least two sets. You can do this either with a tuple parameter or with the `*args` parameter we learned last week.

In [1]:
def set_intersect(*sets):
    # sets is a tuple
    result = sets[0]
    for n in sets[1:]:
        result = result.intersection(n)
    return result
    

set1 = {11, 42, 16, 22, 19}
set2 = {16, 4, 8, 11, 42}
set3 = {17, 6, 11, 16, 7, 12}

print(set_intersect(set1, set2))
print(set_intersect(set2, set3))
print(set_intersect(set3, set1))
print(set_intersect(set1, set2, set3))

{16, 42, 11}
{16, 11}
{16, 11}
{16, 11}

## Activity 2: Dictionaries

 * Create a dictionary with two-letter codes of two US states and the full names, e.g., UT: Utah, NY: New York
 * After initially creating the dictionary, add two more states to the dictionary.
 * Create a second dictionary that maps the state codes to an array of cities in that state, e.g., UT: [Salt Lake City, Ogden, Provo, St.George]. 
 * Write a function that takes a state code and prints the full name of the state and lists the cities in that state.

In [2]:
states = {"UT":"Utah", "NY":"New York"}
states["NV"] = "Nevada"
states["ID"] = "Idaho"
cities = {"UT":["Salt Lake City", "Ogden", "Provo", "St. George"], "NY":["New York City", "Brooklyn", "Some other places I'm sure"], "NV":["Las Vegas", "Elko", "Boulder City"],"ID":["Boise", "Idaho Falls", "Firth"]}

def names_and_cities(code):
    print("State: " + states[code])
    print(cities[code])

names_and_cities("UT")
names_and_cities("NY")
names_and_cities("NV")
names_and_cities("ID")

State: Utah
['Salt Lake City', 'Ogden', 'Provo', 'St. George']
State: New York
['New York City', 'Brooklyn', "Some other places I'm sure"]
State: Nevada
['Las Vegas', 'Elko', 'Boulder City']
State: Idaho
['Boise', 'Idaho Falls', 'Firth']

## Activity 3: Objects

Create a class `Pet` with members `name, pronoun, animal,` and `pet_response`. 

Add a method `pet()` which prints a response that is composed of the members, like that: 

`Layla is a cat. If you pet her, Layla purrs.`  
`Bond is a dog. If you pet him, Scout wags his tail.`

In [3]:
class Pet:
    def __init__(self, name, pronoun, animal, pet_response):
        self.name = name
        self.pronoun = pronoun
        self.animal = animal
        self.pet_response = pet_response

    def pet(self):
        print(self.name + " is a " + self.animal +
        ". If you pet", self.pronoun + ",", self.name,
         self.pet_response + ".")

Here are some example calls:

In [4]:
layla = Pet("Layla", "her", "cat", "purrs")
scout = Pet("Bond", "him", "dog", "wags his tail")

layla.pet()
scout.pet()

Layla is a cat. If you pet her, Layla purrs.
Bond is a dog. If you pet him, Bond wags his tail.

## Activity 4: Pandas Series

Create a new pandas series with the lists given below that contain NFL team names and the number of Super Bowl titles they won. Use the names as indices, the wins as the data.

 * Once the list is created, sort the series alphabetically by index. 
 * Print an overview of the statistical properties of the series. What's the mean number of wins?
 * Filter out all teams that have won less than four Super Bowl titles
 * A football team has 45 players. Update the series so that instead of the number of titles, it reflects the number of Super Bowl rings given to the players. 
 * Assume that each ring costs USD 28,000. Update the series so that it contains a string of the dollar amount including the \$ sign. For the Steelers, for example, this would correspond to: 
 ```
 Pittsburgh Steelers             $ 7560000
 ```

In [5]:
teams = ["New England Patriots",
         "Pittsburgh Steelers",
         "Dallas Cowboys",
         "San Francisco 49ers",
         "Green Bay Packers",
         "New York Giants",
         "Kansas City Chiefs",
         "Denver Broncos",
         "Oakland/Los Angeles/Las Vegas Raiders",
         "Washington Commanders"
         "Miami Dolphins",
         "Baltimore/Indianapolis Colts",
         "Baltimore Ravens",
         "Los Angeles/St. Louis Rams",
         "Tampa Bay Buccaneers"]
wins = [6,6,5,5,4,4,4,3,3,3,2,2,2,2,]

In [6]:
import pandas as pd

pd_teams = pd.Series(wins, index = teams)

pd_teams = pd_teams.sort_index()
print(pd_teams.describe())
mean_wins = pd_teams.mean()
print(f"The mean number of wins is {mean_wins}")
pd_teams = pd_teams[pd_teams >= 4]
pd_teams = pd_teams * 45
pd_teams = pd_teams.apply(lambda x: f"${x * 28000}")
pd_teams

count    14.000000
mean      3.642857
std       1.446861
min       2.000000
25%       2.250000
50%       3.500000
75%       4.750000
max       6.000000
dtype: float64
The mean number of wins is 3.642857142857143

Dallas Cowboys          $6300000
Green Bay Packers       $5040000
Kansas City Chiefs      $5040000
New England Patriots    $7560000
New York Giants         $5040000
Pittsburgh Steelers     $7560000
San Francisco 49ers     $6300000
dtype: object